<form method="post" asp-action="SalesReport">
   
    <label>From:</label>
    <input class="col-form-label" name="from" type="date" />

    <label>To:</label>
    <input class="col-form-label" name="to" type="date" />
    <button class="btn btn-outline-primary fa-solid fa-text" type="submit">Generate Sales Report</button>
</form><br />

<form method="post" asp-action="OrdersReport">
    
    <label>From:</label>
    <input class="col-form-label" name="from" type="date" />
   
    <label>To:</label>
    <input class="col-form-label" name="to" type="date" />
    <button class="btn btn-outline-primary fa-solid fa-text" type="submit">Generate Orders Report</button>
</form><br />

<a class="btn btn-outline-primary fa-solid fa-text" asp-action="QuantityReport">Generate Quantity Report</a>