<form method="post" asp-action="SalesReport">
    <input class="col-form-label" name="from" type="date" />
    <input class="col-form-label" name="to" type="date" />
    <button class="btn btn-primary" type="submit">Generate Sales Report</button>
</form>

<form method="post" asp-action="OrdersReport">
    <input class="col-form-label" name="from" type="date" />
    <input class="col-form-label" name="to" type="date" />
    <button class="btn btn-primary" type="submit">Generate Orders Report</button>
</form>

<a class = "btn btn-primary" asp-action="QuantityReport">Generate Quantity Report</a>