@{
    if (Employee.LoggedInEmployee != null)
    {
        ViewBag.Role = Employee.LoggedInEmployee.RoleId;
    }
    else
    {
        ViewBag.Role = 0;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Genie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryGenie.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha-long-hash_code" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="header-left">
            <i class="fa-sharp fa-solid fa-database"></i>
            <a class="logo navbar-brand fa fa-regular">Inventory Genie</a>
            <input type="checkbox" id="nav_check" hidden />
            <nav>
                    <i class="logo fa-sharp fa-solid fa-database"></i>
                    <a class="logo navbar-brand fa fa-regular">Inventory Genie</a>

                    <ul>

                        @if (ViewBag.Role == 1 || ViewBag.Role == 2 || ViewBag.Role == 3)
                        {
                            <li class="nav-item">
                                <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Supplier" asp-action="Index">Suppliers</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2 || ViewBag.Role == 3)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Stock" asp-action="Index">Stocks</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2)
                        {
                            <li class="nav-item">
                                <a class="" asp-area="" asp-controller="Reporting" asp-action="Index">Reports</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2 || ViewBag.Role == 3)
                        {
                            <li class="nav-item">
                                <a class="" asp-area="" asp-controller="Sales" asp-action="Index">Sales</a>
                            </li>
                        }
                        @if (ViewBag.Role == 1 || ViewBag.Role == 2)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                            </li>
                        }
                        @if (ViewBag.Role != 0)
                        {
                            <li class="logout-btn-burger">
                                <a class="btn btn-outline-primary fa-solid fa-text" asp-area="" asp-controller="Login" asp-action="LogOut">Log Out&nbsp;<i class="fa fa-sign-out"></i></a>
                            </li>
                        }
                    </ul>
            </nav>
        </div>
        <div class="header-right">
            <ul>
                @if (ViewBag.Role != 0)
                {
                    <li class="logout-btn-right">
                        <a class="btn btn-outline-primary fa-solid fa-text" asp-area="" asp-controller="Login" asp-action="LogOut">Log Out&nbsp;<i class="fa fa-sign-out"></i></a>
                    </li>
                }
            </ul>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <!-- Script to activate the hamburger menu when resizing screen. -->
    <script>
        hamburger = document.querySelector(".hamburger");
        nav = document.querySelector("nav");
        hamburger.onclick = function () {
            nav.classList.toggle("active");
        };
    </script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InventoryGenie
        </div>
    </footer>
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Set navbar elements to active when selected. -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.nav-item a').forEach(link => {
                if (link.getAttribute('href').toLowerCase() === location.pathname.toLowerCase()) {
                    link.classList.add('active');
                }
                else if (link.getAttribute('href').toLowerCase() + "search/" === location.pathname.toLowerCase()) {
                    link.classList.add('active');
                }
                else {
                    link.classList.remove('active');
                }
            });
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
