@model Supplier
<h2 class="mb-2">View Supplier</h2>
<div class="mb-3">
    <label class="form-label">Supplier Name</label>

    <input readonly value=@Model.SupplierName class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input readonly value=@Model.PhoneNumber class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <input readonly value=@Model.Email class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Ordering Instructions</label>
    <input readonly value=@Model.OrderingInstructions class="form-control">
</div>
@if (Model.Products != null && Model.Products.Count > 0){
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Products Provided By Supplier @Model.SupplierName</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
    </tbody>
</table>
    }
<a class="btn btn-primary" asp-contoller="Supplier" asp-action="Search">OK</a>
