@model Supplier
<h2 class="mb-2">View Supplier</h2>
<div class="mb-3">
    <label class="form-label">Supplier Name</label>

    <input readonly value=@Model.SupplierName class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input readonly value=@Model.PhoneNumber class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <input readonly value=@Model.Email class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Ordering Instructions</label>
    <input readonly value=@Model.OrderingInstructions class="form-control">
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)
        {
            <tr>
                <th>@product.Name</th>
                <th>
                    <form method="post" asp-action="ChangeProductSupplier">
                        <input hidden name="productID" value=@product.ProductID />
                        <select name ="newSupplierID">
                        @foreach (Supplier supplier in ViewBag.Suppliers)
                        {
                            if (Model.SupplierID != supplier.SupplierID)
                            {
                                <option value=@supplier.SupplierID>@supplier.SupplierName</option>
                            }
                        }
                        </select>
                        <button type="submit">Change Supplier</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-contoller="Supplier" asp-action="Search">OK</a>
