@model Employee
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
      integrity="sha-long-hash_code" crossorigin="anonymous">


<section>
    <div class="form-box">
        <div class="form-value">
            <form method="post" asp-action="Login">
                <h2>@ViewBag.Title</h2>

                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input asp-for="UserName" required />
                    <label asp-for="UserName">User Name</label>
                </div>

                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input asp-for="Password" type="password" required />
                    <label asp-for="Password">Password</label>
                </div>

                @{
                    // if Msg is not null then show the Msg
                    if (ViewBag.Msg != null)
                    {
                        <div class="mb-3">
                            <label class="text-danger">@ViewBag.Msg</label>
                        </div>
                    }
                }

                <button type="submit" class="btn btn-outline-primary fas fa-sign-in">&nbsp;Login</button>
            </form>
        </div>
    </div>
</section>